<%-include("../includes/navigation.ejs") %>

<body>
  <div class="flex flex-col items-center py-20">
    <form
      class="w-2/5 lg:w-1/5 text-lg text-gray-600 space-y-5"
      action="/auth/new-session"
      method="post"
    >
      <!-- <div class="w-full rounded-lg p-5 border-2 border-red-500 bg-red-100">
        <p>Credential is not valid, Please check it!</p>
      </div> -->
      <input
        class="h-16 w-full rounded-lg border-2 border-gray-400 p-3"
        placeholder="Email"
        type="email"
        required
      />

      <input
        class="h-16 w-full rounded-lg border-2 border-gray-400 p-3"
        placeholder="Password"
        type="password"
        required
      />
      <button
        type="submit"
        class="w-full h-16 bg-violet-600 text-white rounded-lg p-3"
      >
        Sign In
      </button>
    </form>
  </div>
</body>
