<%-include("./head.ejs")%>
<body>
  <div class="w-80 border-r h-screen overflow-y-scroll">
    <div class="flex justify-center items-center h-20 border-b">
      <h1 class="text-2xl font-bold">Taskflow</h1>
    </div>

    <div class="flex justify-center items-center h-20 border-b">
      <a href="/auth/sign-out" class="text-gray-600 font-bold">Sign out</a>
    </div>
  </div>
</body>
